body{
	margin: 0;
	padding: 0;
}
h1{
	margin: 70px 0px 0px 10px;
	text-align: center;
}
li{
	display: inline;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
  }

  li {
	float: left;
  }

  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }

.active {
	background-color: #04AA6D;
  }
fieldset{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.title, .description, .code_postal, .city, .type, .price, input[type=submit]{
	margin : 15px 0px 0px 15px;
	padding: 10px;
}
.tableau{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	align-items: center;
}
a{
	text-decoration: none;
	color: black;
}
.subtitle{
	padding-top: 30px;
	padding-bottom: 15px;
}
th{
	padding: 15px;
}
.annonce_details{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.form_resa{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.form_resa > form > input[type=submit] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}